
  <div class="clearfix" id="page">
    <div class="clearfix grpelem" id="ppu1484">
      <!-- group -->
      <div class="grpelem" id="pu1484">
        <!-- inclusion -->
        <div id="u1484">
          <!-- simple frame -->
        </div>
        <div class="clearfix" id="pu1482-6">
          <!-- column -->
          <div class="clearfix colelem" id="u1482-6">
            <!-- content -->
            <p><span id="u1482">Sign in to</span> <span id="u1482-3">DormColet</span></p>
          </div>
          <div class="clearfix colelem" id="u1485-4">
            <!-- content -->
            <p>Enter your Username and Password to log on:</p>
          </div>
        </div>
      </div>
      <div class="grpelem" id="pu1483">
        <!-- inclusion -->
        <div id="u1483">
          <!-- simple frame -->
        </div>
        <div class="clearfix" id="pu1489">
          <!-- column -->
          <div class="rounded-corners clearfix colelem" id="u1489">
            <!-- group -->
            <div class="clearfix grpelem" id="u1539-4">
              <!-- content -->
              <p>Email</p>
            </div>
          </div>
          <div class="rounded-corners clearfix colelem" id="u1495">
            <!-- group -->
            <div class="clearfix grpelem" id="u1540-4">
              <!-- content -->
              <p>Password</p>
            </div>
          </div>
          <div class="rounded-corners clearfix colelem" id="u1496">
            <!-- group -->
            <div class="clearfix grpelem" id="u1553-4">
              <!-- content -->
              <p>Sign in!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grpelem" id="u1555">
      <!-- simple frame -->
    </div>
    <div class="clearfix grpelem" id="ppu1490">
      <!-- group -->
      <div class="grpelem" id="pu1490">
        <!-- inclusion -->
        <div id="u1490">
          <!-- simple frame -->
        </div>
        <div class="clearfix" id="pu1492-6">
          <!-- column -->
          <div class="clearfix colelem" id="u1492-6">
            <!-- content -->
            <p><span id="u1492">Register on</span> <span id="u1492-3">DormColet</span></p>
          </div>
          <div class="clearfix colelem" id="u1491-4">
            <!-- content -->
            <p>Fill the form below to get instant access</p>
          </div>
        </div>
      </div>
      <div class="grpelem" id="pu1493">
        <!-- inclusion -->
        <div id="u1493">
          <!-- simple frame -->
        </div>
        <div class="clearfix" id="pu1544">
          <!-- column -->
          <div class="rounded-corners clearfix colelem" id="u1544">
            <!-- group -->
            <div class="clearfix grpelem" id="u1543-4">
              <!-- content -->
              <p>First name</p>
            </div>
          </div>
          <div class="rounded-corners clearfix colelem" id="u1545">
            <!-- group -->
            <div class="clearfix grpelem" id="u1546-4">
              <!-- content -->
              <p>Last name</p>
            </div>
          </div>
          <div class="rounded-corners clearfix colelem" id="u1548">
            <!-- group -->
            <div class="clearfix grpelem" id="u1547-4">
              <!-- content -->
              <p>Email</p>
            </div>
          </div>
          <div class="rounded-corners clearfix colelem" id="u1549">
            <!-- group -->
            <div class="clearfix grpelem" id="u1550-4">
              <!-- content -->
              <p>Password</p>
            </div>
          </div>
          <div class="rounded-corners clearfix colelem" id="u1552">
            <!-- group -->
            <div class="clearfix grpelem" id="u1554-4">
              <!-- content -->
              <p>Register!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="verticalspacer"></div>
    <div class="browser_width grpelem" id="u963-bw">
      <div id="u963">
        <!-- group -->
        <div class="clearfix" id="u963_align_to_page">
          <img class="svg grpelem" id="u964" src="images/logo-01.svg" width="188" height="52" alt="" data-mu-svgfallback="images/logo-01_poster_.png" />
          <!-- svg -->
          <div class="clearfix grpelem" id="u976">
            <!-- group -->
            <div class="clearfix grpelem" id="u970-4">
              <!-- content -->
              <p>Home</p>
            </div>
            <div class="clearfix grpelem" id="u972-4">
              <!-- content -->
              <p>Preview</p>
            </div>
            <div class="clearfix grpelem" id="u974-4">
              <!-- content -->
              <p>Terms &amp; Conditions</p>
            </div>
            <div class="clearfix grpelem" id="u975-4">
              <!-- content -->
              <p>Contact</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="preload_images">
    <img class="preload" src="images/instagram2-u1268-r-fr.png" alt="" />
    <img class="preload" src="images/twitter-u1270-r-fr.png" alt="" />
    <img class="preload" src="images/facebook-u1263-r-fr.png" alt="" />
    <img class="preload" src="images/youtube-u1275-r-fr.png" alt="" />
    <img class="preload" src="images/list%20your%20property%20button-custom%20active.png" alt="" />
    <img class="preload" src="images/sign%20in2-custom%20active.png" alt="" />
  </div>
  <!-- JS includes -->
  <script type="text/javascript">
  if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn2.businesscatalyst.com/scripts/4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
  </script>
  <script type="text/javascript">
  window.jQuery || document.write('\x3Cscript src="scripts/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
  </script>
  <script src="scripts/museutils.js?334180058" type="text/javascript"></script>
  <script src="scripts/jquery.musepolyfill.bgsize.js?35732776" type="text/javascript"></script>
  <script src="scripts/jquery.watch.js?293013060" type="text/javascript"></script>
  <!-- Other scripts -->
  <script type="text/javascript">
  $(document).ready(function() {
    try {
      (function() {
        var a = {},
          b = function(a) {
            if (a.match(/^rgb/)) return a = a.replace(/\s+/g, "").match(/([\d\,]+)/gi)[0].split(","), (parseInt(a[0]) << 16) + (parseInt(a[1]) << 8) + parseInt(a[2]);
            if (a.match(/^\#/)) return parseInt(a.substr(1), 16);
            return 0
          };
        (function() {
          $('link[type="text/css"]').each(function() {
            var b = ($(this).attr("href") || "").match(/\/?css\/([\w\-]+\.css)\?(\d+)/);
            b && b[1] && b[2] && (a[b[1]] = b[2])
          })
        })();
        (function() {
          $("body").append('<div class="version" style="display:none; width:1px; height:1px;"></div>');
          for (var c = $(".version"), d = 0; d < Muse.assets.required.length;) {
            var f = Muse.assets.required[d],
              g = f.match(/([\w\-\.]+)\.(\w+)$/),
              k = g && g[1] ? g[1] : null,
              g = g && g[2] ? g[2] : null;
            switch (g.toLowerCase()) {
              case "css":
                k = k.replace(/\W/gi, "_").replace(/^([^a-z])/gi, "_$1");
                c.addClass(k);
                var g = b(c.css("color")),
                  h = b(c.css("background-color"));
                g != 0 || h != 0 ? (Muse.assets.required.splice(d, 1), "undefined" != typeof a[f] && (g != a[f] >>> 24 || h != (a[f] & 16777215)) && Muse.assets.outOfDate.push(f)) : d++;
                c.removeClass(k);
                break;
              case "js":
                k.match(/^jquery-[\d\.]+/gi) &&
                  typeof $ != "undefined" ? Muse.assets.required.splice(d, 1) : d++;
                break;
              default:
                throw Error("Unsupported file type: " + g);
            }
          }
          c.remove();
          if (Muse.assets.outOfDate.length || Muse.assets.required.length) c = "Some files on the server may be missing or incorrect. Clear browser cache and try again. If the problem persists please contact website author.", (d = location && location.search && location.search.match && location.search.match(/muse_debug/gi)) && Muse.assets.outOfDate.length && (c += "\nOut of date: " + Muse.assets.outOfDate.join(",")), d && Muse.assets.required.length && (c += "\nMissing: " + Muse.assets.required.join(",")), alert(c)
        })()
      })();
      /* body */
      Muse.Utils.transformMarkupToFixBrowserProblemsPreInit(); /* body */
      Muse.Utils.prepHyperlinks(true); /* body */
      Muse.Utils.resizeHeight() /* resize height */
      Muse.Utils.fullPage('#page'); /* 100% height page */
      Muse.Utils.showWidgetsWhenReady(); /* body */
      Muse.Utils.transformMarkupToFixBrowserProblems(); /* body */
    } catch (e) {
      if (e && 'function' == typeof e.notify) e.notify();
      else Muse.Assert.fail('Error calling selector function:' + e);
    }
  });
  </script>
