#u970-4,#u972-4,#u974-4,#u975-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1439-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1482-3,#u1492-3
{
	font-family: open-sans-n7, sans-serif;
}

#u1482,#u1485-4,#u1492,#u1491-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1482-6,#u1539-4,#u1540-4,#u1553-4,#u1492-6,#u1543-4,#u1546-4,#u1547-4,#u1550-4,#u1554-4
{
	font-family: open-sans-n4, sans-serif;
}

