#u970-4,#u972-4,#u974-4,#u975-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1267-4
{
	font-family: open-sans-n3, sans-serif;
}

#u271-4,#u284-4,#u259-4,#u287-6,#u528-4,#u608-4,#u609-4,#u610-4,#u612-6
{
	font-family: open-sans-n4, sans-serif;
}

#u1400-2,#u1414-2,#u1416-2,#u1428-2,#u1426-2,#u1424-2
{
	font-family: open-sans-i4, sans-serif;
}

#u1400-5,#u1414-5,#u1416-5,#u1428-5,#u1426-5,#u1424-5,#u755-9,#u757-4,#u760-5
{
	font-family: open-sans-n3, sans-serif;
}

#u285-4,#u287-2,#u618-4,#u562-4,#u1400,#u1414,#u1416,#u620-4,#u1428,#u1426,#u1424,#u748-4,#u755-6,#u760,#u885-4
{
	font-family: open-sans-n7, sans-serif;
}

