#u970-4,#u972-4,#u974-4,#u975-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1283-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1335-4,#u1336-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1340-4,#u1341-2,#u1382-4,#u1381-2
{
	font-family: open-sans-n7, sans-serif;
}

#u1341-3,#u1341-5,#u1341-8,#u1381-3,#u1381-5,#u1381-8
{
	font-family: open-sans-n3, sans-serif;
}

#u1341-6,#u1341-9,#u1341-10,#u1381-6,#u1381-9,#u1381-10
{
	font-family: open-sans-n8, sans-serif;
}

