#u970-4,#u972-4,#u974-4,#u975-4
{
	font-family: open-sans-n4, sans-serif;
}

#u996-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1050-4,#u1100-4,#u1101-4,#u1105-4,#u1109-4
{
	font-family: open-sans-i4, sans-serif;
}

#u1113-7,#u1113-10,#u1164-7
{
	font-family: open-sans-n8, sans-serif;
}

#u1018-4,#u1025-2,#u1113-2,#u1220-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1025-5,#u1113-3,#u1113-4,#u1113-6,#u1113-9,#u1164,#u1164-3,#u1177-4,#u1177,#u1226-4,#u1226,#u1227-4,#u1227,#u1228-4,#u1228,#u1229-4,#u1229
{
	font-family: open-sans-n3, sans-serif;
}

#u1021-4,#u1022-4,#u1168-4,#u1231-4,#u1233-4,#u1235-4,#u1237-4
{
	font-family: open-sans-n4, sans-serif;
}

