.version.signinregister /* version checker */
{
	color: #0000ED;
	background-color: #756AF5;
}

.html
{
	background-color: #ffffff;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}
.only-color{
	background-color: #64A3C7;
}

select {
    margin: 50px;
    border: 1px solid #111;
    background: transparent;
    width: 150px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#u1437
{
	z-index: 62;
	width: 1224px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -612px;
}

#pu1444
{
	width: 0.01px;
	padding-bottom: 34px;
	margin-right: -10000px;
}

#u1444
{
	z-index: 63;
	height: 34px;
	background-color: #000000;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: fixed;
	top: 0px;
}

#u1444-bw
{
	z-index: 63;
}

#u1446
{
	z-index: 64;
	width: 21px;
	height: 19px;
	position: fixed;
	top: 7px;
	left: 50%;
	margin-left: 410px;
	background: transparent url("../images/instagram2-u1268-fr.png") no-repeat left top;
	background-size: contain;
}

#u1446:hover
{
	width: 21px;
	height: 19px;
	min-height: 0px;
	margin: 0px 0px 0px 410px;
	background: transparent url("../images/instagram2-u1268-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u1438
{
	z-index: 65;
	width: 21px;
	height: 20px;
	position: fixed;
	top: 7px;
	left: 50%;
	margin-left: 437px;
	background: transparent url("../images/twitter-u1270-fr.png") no-repeat left top;
	background-size: contain;
}

#u1438:hover
{
	width: 21px;
	height: 20px;
	min-height: 0px;
	margin: 0px 0px 0px 437px;
	background: transparent url("../images/twitter-u1270-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u1445
{
	z-index: 66;
	width: 21px;
	height: 20px;
	position: fixed;
	top: 7px;
	left: 50%;
	margin-left: 464px;
	background: transparent url("../images/facebook-u1263-fr.png") no-repeat left top;
	background-size: contain;
}

#u1445:hover
{
	width: 21px;
	height: 20px;
	min-height: 0px;
	margin: 0px 0px 0px 464px;
	background: transparent url("../images/facebook-u1263-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u1440
{
	z-index: 67;
	width: 21px;
	height: 20px;
	position: fixed;
	top: 7px;
	left: 50%;
	margin-left: 491px;
	background: transparent url("../images/youtube-u1275-fr.png") no-repeat left top;
	background-size: contain;
}

#u1440:hover
{
	width: 21px;
	height: 20px;
	min-height: 0px;
	margin: 0px 0px 0px 491px;
	background: transparent url("../images/youtube-u1275-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u1447
{
	z-index: 68;
	width: 115px;
	height: 18px;
	position: fixed;
	top: 7px;
	left: 50%;
	margin-left: 282px;
	background: transparent url("../images/list%20your%20property%20button-custom%20normal.png") no-repeat left top;
	background-size: contain;
}

#u1447:hover
{
	width: 115px;
	height: 18px;
	min-height: 0px;
	margin: 0px 0px 0px 282px;
	background: transparent url("../images/list%20your%20property%20button-custom%20active.png") no-repeat left top;
	background-size: contain;
}

#u1441
{
	z-index: 69;
	width: 90px;
	height: 18px;
	position: fixed;
	top: 7px;
	left: 50%;
	margin-left: 185px;
	background: transparent url("../images/sign%20in2-custom%20normal.png") no-repeat left top;
	background-size: contain;
}

#u1441:hover
{
	width: 90px;
	height: 18px;
	min-height: 0px;
	margin: 0px 0px 0px 185px;
	background: transparent url("../images/sign%20in2-custom%20active.png") no-repeat left top;
	background-size: contain;
}

#pu1442
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 91px;
}

#u1442
{
	z-index: 76;
	overflow: hidden;
	position: relative;
	width: 108px;
	margin-right: -10000px;
	margin-top: 3px;
}

#pu1450
{
	z-index: 70;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 498px;
}

#u1450
{
	z-index: 0;
	width: 190px;
	background-color: #000000;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu1448
{
	width: 0.01px;
	position: relative;
	left: 24px;
	padding-top: 9px;
	z-index: 2;
	padding-bottom: 11px;
}

#u1448
{
	z-index: 75;
	position: relative;
	margin-right: -10000px;
}

#u1439-4
{
	z-index: 71;
	width: 123px;
	min-height: 14px;
	background-color: transparent;
	line-height: 13px;
	color: #9B9B9B;
	font-size: 11px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 20px;
}

#u1439-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 123px;
	margin: 0px -10000px 0px 0px;
}

#u1439-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#ppu1484
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 88px;
	margin-left: 109px;
}

#pu1484
{
	z-index: 23;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u1482-6
{
	z-index: 25;
	width: 239px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 23px;
	line-height: 28px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1485-4
{
	z-index: 37;
	width: 263px;
	min-height: 18px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 6px;
	position: relative;
}

#pu1483
{
	z-index: 21;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#pu1489
{
	width: 0.01px;
	position: relative;
	left: 23px;
	padding-top: 106px;
	z-index: 2;
	padding-bottom: 24px;
}

#u1489
{
	z-index: 45;
	width: 318px;
	background-color: #FFFFFF;
	border-radius: 3px;
	padding-bottom: 14px;
	position: relative;
}

#u1539-4
{
	z-index: 77;
	width: 263px;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 28px;
}

#u1495
{
	z-index: 48;
	width: 318px;
	background-color: #FFFFFF;
	border-radius: 3px;
	padding-bottom: 16px;
	margin-top: 13px;
	position: relative;
}

#u1540-4
{
	z-index: 89;
	width: 263px;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 28px;
}

#u1496
{
	z-index: 51;
	width: 318px;
	background-color: #F05D4A;
	border-radius: 3px;
	padding-bottom: 14px;
	margin-top: 24px;
	position: relative;
}

#u1553-4
{
	z-index: 53;
	width: 263px;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 28px;
}

#u1555
{
	z-index: 61;
	width: 9px;
	height: 404px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	opacity: 0.29;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=28.999999999999996)";
	filter: alpha(opacity=28.999999999999996);
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
	left: 512px;
	border-width: 0px 0px 0px 1px;
}

#ppu1490
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 88px;
	margin-left: 554px;
}

#pu1490
{
	z-index: 24;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u1484,#u1490
{
	z-index: 0;
	width: 364px;
	background-color: #000000;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	border-radius: 10px 10px 0px 0px ;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu1482-6,#pu1492-6
{
	width: 0.01px;
	position: relative;
	left: 24px;
	padding-top: 19px;
	z-index: 2;
	padding-bottom: 16px;
}

#u1492-6
{
	z-index: 31;
	width: 294px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 23px;
	line-height: 28px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1482,#u1492
{
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u1482-3,#u1492-3
{
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u1491-4
{
	z-index: 41;
	width: 263px;
	min-height: 18px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 6px;
	position: relative;
}

#pu1493
{
	z-index: 22;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u1483,#u1493
{
	z-index: 0;
	width: 364px;
	background-color: #000000;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	border-radius: 10px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu1544
{
	width: 0.01px;
	position: relative;
	left: 23px;
	padding-top: 106px;
	z-index: 2;
	padding-bottom: 25px;
}

#u1544
{
	z-index: 46;
	width: 318px;
	background-color: #FFFFFF;
	border-radius: 3px;
	padding-bottom: 14px;
	position: relative;
}

#u1543-4
{
	z-index: 81;
	width: 263px;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 28px;
}

#u1545
{
	z-index: 49;
	width: 318px;
	background-color: #FFFFFF;
	border-radius: 3px;
	padding-bottom: 16px;
	margin-top: 13px;
	position: relative;
}

#u1546-4
{
	z-index: 93;
	width: 263px;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 28px;
}

#u1548
{
	z-index: 47;
	width: 318px;
	background-color: #FFFFFF;
	border-radius: 3px;
	padding-bottom: 14px;
	margin-top: 13px;
	position: relative;
}

#u1547-4
{
	z-index: 85;
	width: 263px;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 28px;
}

#u1549
{
	z-index: 50;
	width: 318px;
	background-color: #FFFFFF;
	border-radius: 3px;
	padding-bottom: 16px;
	margin-top: 13px;
	position: relative;
}

#u1550-4
{
	z-index: 97;
	width: 263px;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 28px;
}

#u1552
{
	z-index: 52;
	width: 318px;
	background-color: #F05D4A;
	border-radius: 3px;
	padding-bottom: 14px;
	margin-top: 24px;
	position: relative;
}

#u1554-4
{
	z-index: 57;
	width: 263px;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 28px;
}

#u963
{
	z-index: 2;
	min-height: 73px;
	padding-bottom: 21px;
}

#u963_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	left: -100px;
}

#u964
{
	z-index: 3;
	margin-right: -10000px;
	margin-top: 21px;
	left: 120px;
}

#u976
{
	z-index: 4;
	width: 253px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 851px;
}

#u970-4
{
	z-index: 5;
	width: 29px;
	min-height: 17px;
	margin-right: -10000px;
}

#u972-4
{
	z-index: 9;
	width: 38px;
	min-height: 17px;
	margin-right: -10000px;
	left: 48px;
}

#u974-4
{
	z-index: 13;
	width: 93px;
	min-height: 17px;
	margin-right: -10000px;
	left: 105px;
}

#u975-4
{
	z-index: 17;
	width: 36px;
	min-height: 17px;
	margin-right: -10000px;
	left: 217px;
}

#u963-bw
{
	z-index: 2;
	min-height: 73px;
	margin-top: 546px;
}

body
{
	position: relative;
	min-width: 1024px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -546px;
}

